/*
Colours used:
Primary Colour (Blue): rgba (31, 26, 235, 1.0), hex:#1F1AEB ;
Primary Colour (White): rgba (255, 255, 255, 1.0), hex: #FFFFFF;
Secondary Colour (Dark Gray): rgba (21, 21, 21, 1.0), hex: #151515;
Secondary Colour (Light Gray): rgba (50, 50, 50, 1.0), hex: #323232;
Tertiary Colour (Light Coral/Light Pink): rgba (246, 130, 140, 1.0), hex: #F6828C;
Tertiary Colour (Fire Opal/Light Orange): rgba (222, 100, 73, 1.0), hex: #DE6449;
*/
/*
Font Sizes and Weights
*/

/*-------------------------------------------Start Section---------------------------------------------*/

/*setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
  box-sizing: border-box;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*default body settings*/


nav {
        display: inline-block;
}
nav > ul {
        list-style-type: none;
        padding: 0;
}

nav > ul > li {
        display: inline-block;
}

nav > ul > li > a {
        padding: 0 15px;
        text-transform: capitalize;
        font-weight: 300;
        color: #fff;
}

.bg-img {
        background-image: url("../imgs/portfolio-website/hero-avantika-jain-image.png");
        min-height: 680px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}

.containerIndex {
        position: absolute;
        text-align: center;
        margin: 20px;
        width: auto;
}

.containerIndex svg {
        width: 250px;
        height: 48px;
}

.topnav {
        overflow: hidden;
}

.topnav a {
        float: left;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
}

.bg-img h1 {
        position: absolute;
        bottom: 0;
        display: flex;
}

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/

.containerAbout {
        text-align: center;
        margin: 20px;
        width: auto;
}

.containerAbout .topnav {
        text-align: center;
        width: auto;
}

/*-------------------------------------------Start Section---------------------------------------------*/
/*default body settings*/


body {
        background-color: rgba(21, 21, 21, 1.0);
        font-family: 'Exo 2', sans-serif;
        font-size: 24px;
        /* Sets the font size to 16px */
        font-weight: 300;
        /* Sets the font weight to 300 */
        line-height: 1.4;
        /* Sets the line-height to 1.4 * the font-size */
        color: rgba(255, 255, 255, 1.0);
}

h1, h2, h3, h4 h5 {
        line-height: 1.3;
}

h1 {
        font-family: 'Noto Serif JP';
        font-size: 2.5em;
        font-weight: 700;
}

h2 {
        font-size: 1.67em;
        font-weight: 600;
        color: #1F1AEB;
}

h3 {
        font-family: 'Noto Serif JP';
        font-size: 1.25em;
        font-weight: 600;
}

h4 {
        font-size: 1.1em;
        font-weight: 400;}

h5 {
        font-family: 'Noto Serif JP';
        font-size: 1.4em;
        font-weight: 600;
}

img {
        width: 100%;
        display: inline-block;
        border-radius: 8px;
}

a {
        color: rgba(255, 255, 255, 1.0);
        /* White */
        text-decoration: none;
        /* No underlining */
}

a:visited {
        /* visited link */
        color: rgba(246, 130, 140, 1.0);
        /* Light Coral/Light Pink */
}

a:hover,
a:focus {
        color: rgba(174, 174, 174, 1.0);
        /* Lighter Gray */
        text-decoration: underline;
        /* Underlining when hovering over a link */
}

a:active {
        /* selected link */
        color: rgba(222, 100, 73, 1.0);
        /* Fire Opal/Light Orange */
}


/*CSS code for the button class*/
.button {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 60px;
        /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
        background-color: rgba(31, 26, 235, 1.0);
        color: rgba(255, 255, 255, 1.0);
        /* needed to override the default link color */
        font-weight: 500;
        font-size: .8em;
        padding: 10px 90px 10px 90px;
        border-radius: 100px;
        border-bottom: 2px solid rgba(31, 26, 235, 1.0);
        /* width of the border, type, color */
        transition: 0.2s opacity;
}

.button:hover {
        opacity: 0.8;
        /* Reduces the opacity of the button to 80% */
        text-decoration: none;
}

.button.contact {
        background-color: rgba(255, 255, 255, 1.0);
        color: rgba(31, 26, 235, 1.0);
        text-transform: capitalize;
        margin: 40px 0px 60px 0px;
        background-position: center;
}

.button.contact:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: rgba(31, 26, 235, 0.8);
}

.logo {
        max-width: 250px;
        margin: auto;
}

.caption {
        font-size: .65em;
}

}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/


/* Layout styling */
.row {
        margin: 25px 0px:

}

.containerfooter {
        text-align: center;
        padding: 40px;
        margin: auto;
        position: relative;
        background-color: #323232;
}

.containerfooter p {
        margin: auto;
        text-align: left;
}

.row1 > div > ul {
        list-style-type: none;
        padding: 0;
}

.row2 > div > ul {
        list-style-type: none;
        padding: 0;
}

.row1 > div > ul > li {
        border-style: solid;
        background-color: #323232;
        color: #fff;
        border-color: #323232;
        border-radius: 8px;
        padding: 10px 20px;
        text-transform: capitalize;
        text-align: center;
        text-decoration: none;
        margin: 20px 0;
        background-position: center;
}

.row2 > div > ul > li {
        border-style: solid;
        background-color: #151515;
        color: #fff;
        text-transform: capitalize;
        text-align: center;
        border: 2px solid #1F1AEB;
        border-radius: 8px;
        padding: 10px 20px;
        margin: 20px 0;
        background-position: center;
}

.copyright {
        display: inline-block;
        position: relative;
        font-size: 12px;
        font-weight: 500;
        margin: auto;
        margin-bottom: 30px;
}
/* Keep these at the bottom of your css stylesheet so they don't interact with others*/



/*clear page flow*/
.row::after {
          content: "";
          clear: both;
          display: table;
}

/*float all columns left*/
[class*="col-"] {
          padding: 10px;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 580px) {
  .containerIndex {
        text-align: unset;
        padding: 20px 0 13px;

}
.topnav a {
        width: auto;
        float: right;
}

.col-md-6 {
        width: 50%;
        float: left;
        padding-bottom: 40px;
}
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .containerIndex svg {
        width: auto;
        text-align: unset;
}
nav {
        width: auto;
        float: right;
}
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .containerIndex svg  {
        text-align: unset;
}
.topnav a {
    width: auto;
    float: right;
}
}


/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  .containerIndex svg {
        text-align: unset;
}
nav {
        float: right;
        width: auto;
}
}
